# General settings
DJANGO_SETTINGS_MODULE="config.settings.production"
DJANGO_SECRET_KEY="REPLACEIT-wFvvtC1c1ETYzp0yRiFCycAQSthep9Srcpv6aGCVySpA4UKZydmUGcL4DbRTyyCC"
DJANGO_ALLOWED_HOSTS=.email-manager.djangoeurope.com,.dev.email-manager.djangoeurope.com

# Used with email
DEFAULT_FROM_EMAIL="info@wservices.ch"
DJANGO_SERVER_EMAIL="info@wservices.ch"

# Better use nginx for this task
DJANGO_SECURE_SSL_REDIRECT=False

# Database settings
DATABASE_URL="postgres://USER:PASSWORD@localhost/tools"

# Django control panel API settings
API_URL="https://api.djangoeurope.com/"
API_KEY=""
